
li{
    list-style: none;
}
.signin input{
    background-color:#e3edf7;
    padding-left:5%!important;
    border-radius:10px;
    margin-bottom:5%;
    outline:none;
    width:80%;
    height:44px;
    border:none;
    box-shadow: inset 8px 8px 8px #cbced1, inset -4px -4px 6px -1px white;
  }
   
  input:nth-child(1) {
    margin-bottom:8%!important;
  }
  input:nth-child(2) {
    margin-bottom:5%;
  }
  
  .signin {
    margin: 70px auto;
    padding: 20px;
    background: #e3edf7;
    border-radius:30px;
    width: 536px;
    height:485px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .signin h2 {
    margin-top: 5%;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .signin .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top:10px;
    padding-left:22px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #e3edf7;
    width:63px;
    height:63px;
    background-color:#F4A896;
    border-radius: 0px 30px 0px 30px;
    transition: transform 0.5s;
  }
  .signin .close-btn:hover {
     box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
          inset -4px -4px 6px -1px rgba(0,0,0,0.2),
                -0.5px -0.5px 0px rgba(0,0,0,0.05),
                0.5px 0.5px 0px rgba(0,0,0,0.05),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    transform: translateY(2px);
    color: #F4A896;
    background-color:#e3edf7;
  }
  .signin .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
  
    .signin{
      width: 70%;
    }
  }
  .test-ul{
    position:relative;
  }
  .test-li:nth-child(1) {
    position:absolute;
    top:0;
    left:2%;
  }
  .test-li:nth-child(2) {
    position:absolute;
    top:0;
    right:10%;
  }
  .check{
    background-color:#e3edf7;
    width:21px!important;
    height:21px!important;
    border-radius:5px!important;
    margin-right:10px!important;  
      box-shadow: inset 2px 2px 2px #cbced1, inset -2px -2px 4px -1px white!important;
  }
  .btn-login{
    width:80%;
    height:47px;
    border-radius:10px;
    margin-top:8%;
    background-color:#358597;
    color:#e3edf7;
    outline: none;
    border: none;
    cursor: pointer;
   transition: 0.5s  ;
  }
  .btn-login:hover{
    color:#358597;
    background-color:#e3edf7;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
          inset -4px -4px 6px -1px rgba(0,0,0,0.2),
                -0.5px -0.5px 0px rgba(0,0,0,0.05),
                0.5px 0.5px 0px rgba(0,0,0,0.05),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    transform: translateY(2px);
    
  }
  .signin hr{
    margin-top:8%;
  }
  .signin .other{
    margin-top:10%;
  }
  .signup .other{
    margin-top:5%;
  }
  /*xxx*/
  .signup {
    margin: 70px auto;
    padding: 20px;
    background: #e3edf7;
    border-radius:30px;
    width: 904px;
    height:575px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .signup h2 {
    margin-top: 2%;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  
  .signup .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top:10px;
    padding-left:22px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #e3edf7;
    width:63px;
    height:63px;
    background-color:#F4A896;
    border-radius: 0px 30px 0px 30px;
    transition: transform 0.5s;
  }
  .signup .close-btn:hover {
     box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
          inset -4px -4px 6px -1px rgba(0,0,0,0.2),
                -0.5px -0.5px 0px rgba(0,0,0,0.05),
                0.5px 0.5px 0px rgba(0,0,0,0.05),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    transform: translateY(2px);
    color: #F4A896;
    background-color:#e3edf7;
  }
  
  .signup .content {
    max-height: 30%;
    overflow: auto;
  }
  .signup  input{
    background-color:#e3edf7;
    padding-left:2%!important;
    border-radius:10px;
    margin-bottom:2%;
    margin-right:1%;
    outline:none;
    width:398px;
    height:44px;
    border:none;
    box-shadow: inset 8px 8px 8px #cbced1, inset -4px -4px 6px -1px white;
  }
  .signup  input:nth-child(2),.signup  input:nth-child(3){
    width:191px;
  }
  
  .btn-signup{
    width:444px;
    height:47px;
    border-radius:10px;
    margin-top:5%;
    background-color:#358597;
    color:#e3edf7;
    outline: none;
    border: none;
    cursor: pointer;
   transition: 0.5s  ;
  }
  .btn-signup:hover{
    color:#358597;
    background-color:#e3edf7;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
          inset -4px -4px 6px -1px rgba(0,0,0,0.2),
                -0.5px -0.5px 0px rgba(0,0,0,0.05),
                0.5px 0.5px 0px rgba(0,0,0,0.05),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    transform: translateY(2px);
    
  }
  .radio  {
    width:20px!important;
    height:20px!important;
    box-shadow:none!important;
  }
  
  .signup select{
    width:122px;
    height:44px;
    border-radius:10px;
    border:none;
    box-shadow: inset 8px 8px 8px #cbced1, inset -4px -4px 6px -1px white;
     outline:none;
    background-color:#e3edf7;
    padding-left:5%!important;
    margin-right:2.2%;
  
  }

  .signup .select{
    text-align:left!important;
    margin-left:1%;
      position:absolute;
    left:0%;  
  }
  
  .test{
    position:relative;
    margin-bottom:5%;
  }
  .test span:nth-child(1){
    position:absolute;
    left:3%;
  }
  
  .test span:nth-child(2){
    position:absolute;
    right:43%;
  }
  .try-me{
    display:flex;
    position:relative;
    margin-bottom:5%;
  }
  .try-me div:nth-child(2){
    position:absolute;
    right:9%;
    margin-top:0%;
  }
  .tt{
    position:relative;
    border: 2px solid #358597;
    border-radius:10px;
    border:none;
    box-shadow: inset 8px 8px 8px #cbced1, inset -4px -4px 6px -1px white;
     outline:none;
    background-color:#e3edf7;
    
    width:122px!important;
    height:44px!important;
    margin-right:2%!important;
  }
  .tt input{
    position:absolute;
    top:30%;
    right:4%;
  }
  .tt span{
    position:absolute;
    top:20%;
    left:10%;
  }
  .signup hr{
    margin-top:3%;
  }
  .user-photo{
    width: 100px;
    height  : 100px;
    border-radius: 50%;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 999999999999;
      
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
    
  }
  .add-advert{
    background-color: azure;
    position: absolute;
    top:10%;
    left:25%;
    width: 50%;
    height: 80%;
    justify-content: center;
    border-radius: 15px;
  }


.Profil .Advert{
    box-shadow: 2px 5px 15px #00000041!important;
    text-align: center;
}
.Profil .btn-profil{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left:60%;
}
.Profil .btn-delete{
width: 100%;
height:40px;
color: white;
border-radius: 15px;
margin: 0% 10% 10% 10%;
background-color:rgb(9, 220, 248);
}
.Profil .btn-delete:hover{
background-color: transparent;
color: rgb(9,220,248);
border-width: 1px;
border: rgb(9,220,248);
}
.Profil .btn-update{
width: 100%;
height:40px;
color: white;
border-radius: 15px;
margin: 0% 10% 10% 10%;
background-color:rgb(9, 220, 248);
}
.Profil .btn-update:hover{
background-color: transparent;
color: rgb(9,220,248);
border-width: 1px;
border: rgb(9,220,248);
}
.add-advert .add-btn{
  width: 100%;
  height:40px;
  color: white;
  border-radius: 15px;
  background-color:rgb(9, 220, 248);
}
.add-advert .add-btn:hover{
  background-color: transparent;
  color: rgb(9,220,248);
  border-width: 1px;
  border: rgb(9,220,248);
  }
.Profil .Advert .Advert-img{
width: 100%;
height: 150px;
}
.Profil .Advert .desc-block{
    padding-left:  5% !important;
    width: 250px;
    justify-content: center;
    text-align: left;
}
.Profil .Advert .desc-block .Advert-title{
    margin-top: 8%;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.Profil .Advert .desc-block .Advert-description{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.Profil .Advert .desc-block .Advert-price{
    font-size: 25px;
    font-weight: 600;
    color: rgb(9, 220, 248);
}

.Profil .Advert .desc-block .seesingleadvert{
    color: rgb(67, 245, 67);
}
.Profil .Advert .desc-block .seesingleadvert:hover{
    color: rgb(9, 220, 248);
}

.inputs{
  background-color:#e3edf7;
    padding-left:5%!important;
    border-radius:10px;
    margin-bottom:5%;
    outline:none;
    width:80%;
    height:44px;
    border:none;
    box-shadow: inset 8px 8px 8px #cbced1, inset -4px -4px 6px -1px white;
}
.preview{
  height:100px;
  width:auto;
}
.select{
  width:80%;
  height:40px;
  border-radius:10px;
  border:none;
  box-shadow: inset 8px 8px 8px #cbced1, inset -4px -4px 6px -1px white;
   outline:none;
  background-color:#e3edf7;
  padding-left:5%!important;
  margin-right:2.2%;
}